#loginDiv{
	margin-top:100px;
	text-align:center;
}

#loginTitle{
	margin-bottom:45px;
}

#username, #password{
	display:block;
	margin:auto;
	width:80%;
	font-size:20px;
}

#login{
	width:35%;
	display:block;
	margin:auto;
	margin-bottom:20px;
}

#alert{
	text-align:center;
	color:red;
}
