<div class="panel panel-primary" ng-controller="DashboardController as dash">
	<div class="panel-heading" style="text-align: left"><strong>Company</strong>: {{project.customer}} - <strong>Project</strong>: {{project.project}}</div> <!--AngularJS dynamic header-->
	<div class="panel-body">
		<!--The first row in the dashboard panel containing the dashboard and buttons (Excludes the table)-->

		<div class="row">
			<project-dashboard ng-show="showDash"></project-dashboard>

			<project-form ng-show="showForm"></project-form>

			<add-expense ng-show="showAddExpense"></add-expense>
		</div>

		<br>

		<!--Final row in the dashboard containing the dynamic table-->
		<div class="row">
			<project-table ng-hide="showAddExpense"></project-table>
		</div>

	</div>
</div>