<div class="panel-group" ng-controller="EditRatesPanelController as editRatesCtrl">
	<div class="panel panel-primary">
		<div class="panel-heading"  data-toggle="collapse" data-target="#activityRates">
			<h4 class="panel-title">
				<a href="" cursor="pointer">Activity Rates</a> <!--Clickable header bar to expand menu-->
			</h4>
		</div>

		<!--The accordion menu-->
		<div id="activityRates" class="panel-collapse collapse">

			<div class="panel-body" style="overflow: auto">

				<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-2">
						<div class="row text-center">

							<button class="btn btn-success" ng-click="editRatesCtrl.editBtn()" style="width: 93%; margin-left: 17px" ng-hide="edit">Edit</button>

							<div class="btn-group btn-group-justified" style="width: 100%; padding-left: 17px" ng-show="edit">
								<button class="btn btn-danger" type="button" ng-click="editRatesCtrl.cancelBtn()" style="width: 50%">Cancel</button>
								<button class="btn btn-success" type="button" ng-click="editRatesCtrl.saveBtn()" style="width: 50%">Save</button>
							</div>
						</div>
						
						
					</div>
				</div>
				
				<!--First row in modal body containing the dropdowns and add rate option
					This row contains the options used to add a new activity rate to a project
					The options in this row access the attributes of a blank activity object
					The object is pushed to the activities array of the current project object and reset on the "Add" button-->
				<div class="row" ng-show="false">

						<!--Left-most column containing the employee selection dropdown-->
					<div class="col-sm-4">

							<!--This dropdown is linked through ng-model to the blank activity object's ".employee" atrribute-->
						<select name="Employee" style="width: 100%" ng-model="editRatesCtrl.newActivity.employee" ng-options="employee.name for employee in employees | orderBy: 'name'">

							<!--The text shown before any item is selected-->
							<option value="" hidden selected>Select Employee...</option>

							<!--Repeat options for each employee in an array of all employees-->
							
						</select>
					</div>

						<!--Middle column containing the activity selection dropdown-->
					<div class="col-sm-4">

							<!--This dropdown is linked through ng-model to the blank activity object's ".activity" atrribute-->
						<select name="Activity" style="width: 100%" ng-model="editRatesCtrl.newActivity.activity" ng-options="activity.activity for activity in activities">

							<!--The text shown before any item is selected-->
							<option value="" hidden selected>Select Activity...</option>
						</select>
					</div>

					<!--The right-most column containing the add rate input-group and button-->
					<div class="col-sm-4">
						<div class="input-group">
							<span class="input-group-addon">Rate:</span>
							<span class="input-group-addon" style="padding: 5px">$</span>

							<!--This input is linked through ng-model to the blank activity objects ".rate" attribute-->
							<input 	type="number" 
								class="form-control" 
								placeholder="Activty Rate..." 
								name="Rate" 
								min="0.00" step="1"
								onkeypress="return validateNum(event)"
								ng-model="editRatesCtrl.newActivity.rate">

							<span class="input-group-btn">

								<!--This button calls the ".addBtn()" function which pushes the completed "newActivity" oject 
									to the array of activity objects belonging to the current project object. Once the 
									"newActivity" object is pushed, it is reset to empty value.
									NOTE: Each of the 3 fields above must be valid for the function to complete either task-->
								<button class="btn btn-success" type="button" ng-click="editRatesCtrl.addBtn()">Add</button>
							</span>
						</div>
					</div>
				</div>

				<!--Second row in the modal window containing the nav-pills for "Basic Info" and "Edit Hours"-->
				<div class="row">
					


					<div class="col-sm-12">


						<!--This is the table of activity rates displayed in the "Basic Info" tab-->
						<table class="table table-bordered table-responsive" id="activityRatesTable">

							<!--The tables headers are buttons which implement a sort function on their column-->
							<thead>
								<tr>
									<th>
										<!--Each button fills it's cell, calls the ".sortTable(n)" 
										function on the column below it, and has a "sort icon" on it's right-->
										<button class="btn btn-info" type="button" ng-click="editRatesCtrl.sortBy(&quot;employee&quot;, 1)" style="width: 100%; min-width: 105px"><span class="pull-left" style="font-size: 100%">Employee</span><i class="glyphicon glyphicon-sort pull-right"></i></button>
									</th>
									<th>
										<button class="btn btn-info" type="button" ng-click="editRatesCtrl.sortBy(&quot;activity&quot;, 2)" style="width: 100%; min-width: 90px"><span class="pull-left" style="font-size: 100%">Activity</span><i class="glyphicon glyphicon-sort pull-right"></i></button>
									</th>
									<th>
										<button class="btn btn-info" type="button" ng-click="editRatesCtrl.sortBy(&quot;rate&quot;, 3)" style="width: 100%; min-width: 95px"><span class="pull-left" style="font-size: 100%">Bill Rate</span><i class="glyphicon glyphicon-sort pull-right"></i></button>
									</th>
									<th>
										<button class="btn btn-info" type="button" ng-click="editRatesCtrl.sortBy(&quot;fees&quot;, 4)" style="width: 100%; min-width: 75px"><span class="pull-left" style="font-size: 100%">Fees</span><i class="glyphicon glyphicon-sort pull-right"></i></button>
									</th>
									<th>
										<button class="btn btn-info" type="button" ng-click="editRatesCtrl.sortBy(&quot;hours&quot;, 5)" style="width: 100%; min-width: 80px"><span class="pull-left" style="font-size: 100%">Hours</span><i class="glyphicon glyphicon-sort pull-right"></i></button>
									</th>
									<th>
										<button class="btn btn-info" type="button" ng-click="editRatesCtrl.sortBy(&quot;hourly_cost&quot;, 6)" style="width: 100%; min-width: 115px"><span class="pull-left" style="font-size: 100%">Hourly Cost</span><i class="glyphicon glyphicon-sort pull-right"></i></button>
									</th>
									<th>
										<button class="btn btn-info" type="button" ng-click="editRatesCtrl.sortBy(&quot;loaded_cost&quot;, 7)" style="width: 100%; min-width: 125px"><span class="pull-left" style="font-size: 100%">Loaded Cost</span><i class="glyphicon glyphicon-sort pull-right"></i></button>
									</th>
								</tr>
							</thead>

							<tbody>

								<!--The table body is a single, repeated row containing the ".employee", ".activity", ".fees", 
								".hourlyCost", ".rate", and ".plannedHours" attributes for each activity in the 
								".activities" array of the current project object.-->
								<tr ng-repeat="activity in editRates">

									<!--The first cell containing the employee's name and the "Submit" and "Delete" buttons-->
									<td>

									<!--The Angular ".employee" attribute for each activity in the ".activities" array.
									This span displays the employee's name-->
										<span>{{activity.employee}}</span>
										<div class="btn-group pull-right" ng-show="edit">

											<!--Each button calls its associated function when clicked-->
											<button class="btn btn-warning" type="button" ng-click="editRatesCtrl.updateBtn(activity)">Update</button>
											<!--<button class="btn btn-danger" type="button" ng-click="editRatesCtrl.deleteBtn(activity)">Delete</button>-->
														
										</div>
									</td>

									<!--This cell contains the activity name (E.g. "Billable", "Non - Billable", etc.)-->
									<td>{{activity.activity}}</td>

									<!--This cell contains the input for editting the "Bill Rate" for 
									an activity in the project object's ".activities" array-->
									<td>
										<div class="input-group">
											<span class="input-group-addon" style="padding: 5px">$</span>

											<!--This input is linked through ng-model to the the "activity.rate" attribute-->
											<input 	type="number" 
													ng-disabled="!(edit)" 
													class="form-control" 
													placeholder="{{activity.rate}}" 
													name="Rate" 
													min="0.00" step="1"
													onkeypress="return validateNum(event)"
													ng-model="activity.rate"
													ng-change="editRatesCtrl.getIndexOnChange(activity)">
										</div>
									</td>

									<!--The following cells display the remaining data in the 
									table passed through certain Angular filters-->
									<td>{{activity.rate * activity.hours| currency}}</td>
									<td>{{activity.hours}}</td>
									<td>{{activity.hourly_cost | currency}} {{activity.error}}</td>
									<td>{{activity.loaded_cost| currency}}</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>