<div class="panel panel-primary" ng-controller="AdminSettingsController as ASCtrl">
	<div class="panel-heading">
		<strong>Settings</strong>
	</div>
	<div class="panel-body" ng-show="admin">
		<div class="col-sm-12">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#general" ng-click="ASCtrl.clearForms()">General</a></li>
				<li><a data-toggle="tab" href="#newUser" ng-click="ASCtrl.clearForms()">New Users</a></li>
				<li><a data-toggle="tab" href="#modifyUsers" ng-click="ASCtrl.clearForms()">User Settings</a></li>
			</ul>
			
			<div class="tab-content">
				<div id="general" class="tab-pane fade in active">
					<h3>General Account Settings</h3>

					<hr>

					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<h4>Change Username</h4>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<span><strong>Current Username: </strong>{{username}}</span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-10">
									<div class="input-group">
										<div class="input-group-addon" style="min-width: 200px"><span>New Username:</span></div>
										<input type="text" class="form-control" placeholder="Enter New Username...">
									</div>
								</div>
								<div class="col-sm-2">
									<button class="btn btn-success" style="width: 100%">Submit</button>
								</div>
							</div>
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<h4>Change Password</h4>
							</div>
							<div class="row">
								<div class="col-sm-10">
									<div class="input-group">
										<div class="input-group-addon" style="min-width: 200px"><span>Current Password:</span></div>
										<input type="password" class="form-control" placeholder="Enter Current Password..." ng-model="changePassword.current">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-10">
									<div class="input-group">
										<div class="input-group-addon" style="min-width: 200px"><span>New Password:</span></div>
										<input type="password" class="form-control" placeholder="Enter New Password..." ng-model="changePassword.new" ng-change="ASCtrl.confirmPassword(changePassword.new, changePassword.confirm)">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-10 form-group has-feedback" ng-class="response.feedback">
									<div class="input-group">
										<div class="input-group-addon" ng-class="response.formControl" style="min-width: 200px"><span>Re-Enter New Password:</span></div>
										<input type="password" class="form-control" placeholder="Re-Enter Password..." ng-model="changePassword.confirm" ng-change="ASCtrl.confirmPassword(changePassword.new, changePassword.confirm)">
										<i class="form-control-feedback" ng-class="response.glyphicon" style="z-index: 3"></i>
									</div>
								</div>
								<div class="col-sm-2">
									<button class="btn btn-success" style="width: 100%" ng-click="ASCtrl.submitChange()">Submit</button>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="alert alert-success" ng-show="successMessage" ng-class="{fade:!successMessage}">
 										<strong>Success!</strong> {{successMessageText}}
									</div>
									<div class="alert alert-danger" ng-show="errorMessage" ng-class="{fade:!errorMessage}">
 										<strong>Error!</strong> {{errorMessageText}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			







				<div id="newUser" class="tab-pane fade">
					<h3>Create New User</h3>

					<hr>

					<div class="row">
						<h4>New User</h4>
					</div>

					<div class="row">
						<div class="col-md-5">
							<div class="input-group">
								<span class="input-group-addon input-group-sm">New User:</span>
								<select id="billed" class="selectpicker form-control" style="width: 100%" title="New User" ng-model="selectedEmployee" ng-options="employee.name for employee in employees" ng-change="ASCtrl.suggestUsername()">
									<option hidden selected value="">Select an Employee to Add...</option>
								</select>
							</div>
						</div>
						<div class="col-md-5">
							<div class="input-group">
								<span class="input-group-addon input-group-sm">Username:</span>
								<input type="text" class="form-control" ng-model="newUser.username" placeholder="New Username..." ng-change="ASCtrl.checkUsername()">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="input-group" style="height: 34px">
								<span class="input-group-addon"><label style="font-weight: normal; margin: 0px" for="newUserAdmin">Admin:</label></span>
								<span class="input-group-addon"><input type="checkbox" id="newUserAdmin" ng-model="newUser.admin"></span>
							</div>
						</div>
					</div>

					<hr>

					<div class="row" ng-show="showCreatePassword">
						<h4>Password</h4>
					</div>

					<div class="row" ng-show="showCreatePassword">
						<div class="col-sm-10">
							<div class="input-group">
								<div class="input-group-addon" style="min-width: 200px"><span>Password:</span></div>
								<input type="password" class="form-control" placeholder="Enter Password..." ng-model="newUser.password" ng-change="ASCtrl.confirmPassword(newUser.password, newUser.confirm)">
							</div>
						</div>
					</div>
					<div class="row" ng-show="showCreatePassword">
						<div class="col-sm-10 form-group has-feedback" ng-class="response.feedback">
							<div class="input-group">
								<div class="input-group-addon" ng-class="response.formControl" style="min-width: 200px"><span>Re-Enter Password:</span></div>
								<input type="password" class="form-control" placeholder="Re-Enter Password..." ng-model="newUser.confirm" ng-change="ASCtrl.confirmPassword(newUser.password, newUser.confirm)">
								<i class="form-control-feedback" ng-class="response.glyphicon" style="z-index: 3"></i>
							</div>
						</div>
					</div>

					<hr>

					<div class="row" ng-show="showCreatePassword">
						<h4>Confirm</h4>
					</div>

					<div class="row" ng-show="showCreatePassword">
						<div class="col-sm-10">
							<div class="input-group">
								<div class="input-group-addon" style="min-width: 200px"><span>Admin Password:</span></div>
								<input type="password" class="form-control" placeholder="Enter Admin Password..." ng-model="newUser.adminPassword" >
							</div>
						</div>
						<div class="col-sm-2">
							<button class="btn btn-success" style="width: 100%" ng-click="ASCtrl.createUserBtn()">Create User</button>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="alert alert-success" ng-show="successMessage" ng-class="{fade:!successMessage}">
 								<strong>Success!</strong> {{successMessageText}}
							</div>
							<div class="alert alert-danger" ng-show="errorMessage" ng-class="{fade:!errorMessage}">
 								<strong>Error!</strong> {{errorMessageText}} <span class="pull-right" ng-bind-html="detailsLink" style="font-size: x-small;"></span>
							</div>
						</div>
					</div>
				</div>





				<div id="modifyUsers" class="tab-pane fade">
						<h3>Modify User</h3>

					<hr>

					<div class="row">
						<h4>User</h4>
					</div>

					<div class="row">
						<div class="col-md-5">
							<div class="input-group">
								<span class="input-group-addon input-group-sm">User:</span>
								<select id="billed" class="selectpicker form-control" style="width: 100%" title="Modify User" ng-model="selectedUser" ng-options="account.username for account in accounts" ng-change="ASCtrl.selectAccount()">
									<option hidden selected value="">Select an Employee to Modify...</option>
								</select>
							</div>
						</div>
						<div class="col-md-5">
							<div class="input-group">
								<span class="input-group-addon input-group-sm">Username:</span>
								<input type="text" class="form-control" ng-model="modifiedUser.username" placeholder="New Username...">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="input-group" style="height: 34px">
								<span class="input-group-addon"><label style="font-weight: normal; margin: 0px" for="modifiedUserAdmin">Admin:</label></span>
								<span class="input-group-addon"><input type="checkbox" id="modifiedUserAdmin" ng-model="modifiedUser.admin"></span>
							</div>
						</div>
					</div>

					<hr>

					<div class="row" ng-show="showCreatePassword">
						<h4>Change Password</h4>
					</div>

					<div class="row" ng-show="showCreatePassword">
						<div class="col-sm-10">
							<div class="input-group">
								<div class="input-group-addon" style="min-width: 200px"><span>Password:</span></div>
								<input type="password" class="form-control" placeholder="Enter Password..." ng-model="modifiedUser.password" ng-change="ASCtrl.confirmPassword(modifiedUser.password, modifiedUser.confirm)">
							</div>
						</div>
					</div>
					<div class="row" ng-show="showCreatePassword">
						<div class="col-sm-10 form-group has-feedback" ng-class="response.feedback">
							<div class="input-group">
								<div class="input-group-addon" ng-class="response.formControl" style="min-width: 200px"><span>Re-Enter Password:</span></div>
								<input type="password" class="form-control" placeholder="Re-Enter Password..." ng-model="modifiedUser.confirm" ng-change="ASCtrl.confirmPassword(modifiedUser.password, modifiedUser.confirm)">
								<i class="form-control-feedback" ng-class="response.glyphicon" style="z-index: 3"></i>
							</div>
						</div>
					</div>

					<hr>

					<div class="row" ng-show="showCreatePassword">
						<h4>Confirm</h4>
					</div>

					<div class="row" ng-show="showCreatePassword">
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><label style="font-weight: normal; margin: 0px" for="admin">Admin Password:</label></span>
								<input type="password" class="form-control" placeholder="Enter Admin Password..." ng-model="modifiedUser.adminPassword" >
							</div>
						</div>
						<div class="col-sm-2">
							<button class="btn btn-success" style="width: 100%" ng-click="ASCtrl.modifyUserBtn()">Save Changes</button>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="alert alert-success" ng-show="successMessage" ng-class="{fade:!successMessage}">
 								<strong>Success!</strong> {{successMessageText}}
							</div>
							<div class="alert alert-danger" ng-show="errorMessage" ng-class="{fade:!errorMessage}">
 								<strong>Error!</strong> {{errorMessageText}} <span class="pull-right" ng-bind-html="detailsLink" style="font-size: x-small;"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="errorDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h3 class="modal-title" id="exampleModalLabel">500 Internal Server Error</h3>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	     	<div class="row">
	     		<div class="col-sm-12">
	     			<strong>Error Code: </strong>{{errorDetails.code}}
	     		</div>
	        </div>
	        <div class="row">
	     		<div class="col-sm-12">
	     			<strong>Error Number: </strong>{{errorDetails.errno}}
	     		</div>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>




	<div class="panel-body" ng-hide="admin">
		<h3>General Account Settings</h3>

		<hr>

		<div class="col-sm-12">

			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<h4>Change Username</h4>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<span><strong>Current Username: </strong>{{username}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-10">
							<div class="input-group">
								<div class="input-group-addon" style="min-width: 200px"><span>New Username:</span></div>
								<input type="text" class="form-control" placeholder="Enter New Username...">
							</div>
						</div>
						<div class="col-sm-2">
							<button class="btn btn-success" style="width: 100%">Submit</button>
						</div>
					</div>
				</div>
			</div>
	
			<hr>
	
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<h4>Change Password</h4>
					</div>
					<div class="row">
						<div class="col-sm-10">
							<div class="input-group">
								<div class="input-group-addon" style="min-width: 200px"><span>Current Password:</span></div>
								<input type="password" class="form-control" placeholder="Enter Current Password..." ng-model="changePassword.current">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-10">
							<div class="input-group">
								<div class="input-group-addon" style="min-width: 200px"><span>New Password:</span></div>
								<input type="password" class="form-control" placeholder="Enter New Password..." ng-model="changePassword.new" ng-change="ASCtrl.confirmPassword(	changePassword.new, changePassword.confirm)">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-10 form-group has-feedback" ng-class="response.feedback">
							<div class="input-group">
								<div class="input-group-addon" ng-class="response.formControl" style="min-width: 200px"><span>Re-Enter New Password:</span></div>
								<input type="password" class="form-control" placeholder="Re-Enter Password..." ng-model="changePassword.confirm" ng-change="ASCtrl.confirmPassword(	changePassword.new, changePassword.confirm)">
								<i class="form-control-feedback" ng-class="response.glyphicon" style="z-index: 3"></i>
							</div>
						</div>
						<div class="col-sm-2">
							<button class="btn btn-success" style="width: 100%" ng-click="ASCtrl.submitChange()">Submit</button>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="alert alert-success" ng-show="successMessage" ng-class="{fade:!successMessage}">
 								<strong>Success!</strong> {{successMessageText}}
							</div>
							<div class="alert alert-danger" ng-show="errorMessage" ng-class="{fade:!errorMessage}">
 								<strong>Error!</strong> {{errorMessageText}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>