<div class="panel panel-primary" ng-controller="ChangeProjectTabController as cptCtrl">  		
	<div class="panel-heading" style="text-align: left">Change Project</div>
	<div class="panel-body" style="text-align: left;">

	<div class="col-sm-12">

		<!--First row inside the change project tab containing the project status dropdown-->
		<div class="row">
			<select id="selectStatusDropdown" name="Status" style="width: 100%" ng-model="selectedStatus" ng-change="cptCtrl.sendStatus()">
				<option value="" hidden selected>Select Project Status...</option>
				<option value="3">All</option>
				<option value="1">Active</option>
				<option value="0">Inactive</option>
				<option value="2">Closed</option>
			</select>
		</div>

		<!--Second row inside the change project tab containing the company select dropdown-->
		<div class="row">			
			<select id="selectCustomerDropdown" name="Company" style="width: 100%" ng-model="selectedCustomer" ng-options="customer.name for customer in customers | orderBy: 'name'" ng-hide="hideCustomerSelect" ng-change="cptCtrl.sendCustomer()">
				<option value="" hidden selected>Select Company...</option>
			</select>
		</div>

		<!--Third row inside the change project tab containing the project select dropdown-->
		<div class="row">
			<select id="selectProjectDropdown" name="Project" style="width: 100%" ng-model="selectedProject" ng-options="project.project for project in projects" ng-hide="hideProjectSelect" ng-change="cptCtrl.sendProjectId(selectedProject)">
				<option value="" hidden selected>Select Project...</option>
			</select>
		</div>

		<!--these need to be dynamic buttons-->

		<!--Final row in change project tab containing button group for project selection-->
		<div class="row text-center">
			<div class="btn-group btn-group-sm btn-group-justified">
				<button type="button" class="btn btn-primary" style="width: 33%" ng-click="cptCtrl.previousBtn()">Previous</button>
				<button type="button" class="btn btn-success" style="width: 34%" ng-click="cptCtrl.changeProjectBtn()">Change</button>
				<button type="button" class="btn btn-primary" style="width: 33%" ng-click="cptCtrl.nextBtn()">Next</button>
			</div>
		</div>

		</div>
	</div>
</div> <!--Close the panel-->