<div class="panel panel-default">
	<div class="panel-heading">Edit Rates</div>
	<div class="panel-body">
				<!--First row in modal body containing the dropdowns and add rate option
					This row contains the options used to add a new activity rate to a project
					The options in this row access the attributes of a blank activity object
					The object is pushed to the activities array of the current project object and reset on the "Add" button-->
				<div class="row">

					<!--Left-most column containing the employee selection dropdown-->
					<div class="col-sm-4">

						<!--This dropdown is linked through ng-model to the blank activity object's ".employee" atrribute-->
						<select name="Employee" style="width: 100%" ng-model="modalCtrl.newActivity.employee">

							<!--The text shown before any item is selected-->
							<option value="" hidden selected>Select Employee...</option>

							<!--Repeat options for each employee in an array of all employees-->
							<option ng-repeat="employee in modalCtrl.employees" ng-value="employee">{{employee}}</option>
						</select>
					</div>

					<!--Middle column containing the activity selection dropdown-->
					<div class="col-sm-4">

						<!--This dropdown is linked through ng-model to the blank activity object's ".activity" atrribute-->
						<select name="Activity" style="width: 100%" ng-model="modalCtrl.newActivity.activity">

							<!--The text shown before any item is selected-->
							<option value="" hidden selected>Select Activity...</option>
							<option ng-value="Billable">Billable</option>
							<option ng-value="NonBillable">Non-Billable</option>
						</select>
					</div>

					<!--The right-most column containing the add rate input-group and button-->
					<div class="col-sm-4">
						<div class="input-group">
							<span class="input-group-addon">Rate:</span>
							<span class="input-group-addon" style="padding: 5px">$</span>

							<!--This input is linked through ng-model to the blank activity objects ".rate" attribute-->
							<input 	type="number" 
									class="form-control" 
									placeholder="Activty Rate..." 
									name="Rate" 
									min="0.00" step="1"
									onkeypress="return validateNum(event)"
									ng-model="modalCtrl.newActivity.rate">

							<span class="input-group-btn">

								<!--This button calls the ".addBtn()" function which pushes the completed "newActivity" oject 
									to the array of activity objects belonging to the current project object. Once the 
									"newActivity" object is pushed, it is reset to empty value.
									NOTE: Each of the 3 fields above must be valid for the function to complete either task-->
								<button class="btn btn-success" type="button" ng-click="modalCtrl.addBtn()">Add</button>
							</span>
						</div>
					</div>
				</div>

				<!--Second row in the modal window containing the nav-pills for "Basic Info" and "Edit Hours"-->
				<div class="row">
					<!--<div class="col-sm-2"></div>-->
					<div class="col-sm-12">

						<!--The nav-pills with links to each sections content-->
						<ul class="nav nav-pills">

							<!--This first pill opens the "Basic Info" tab. It is the initially active tab on opening the modal.-->
							<li class="active"><a data-toggle="pill" href="#basicInfo">Basic Info</a></li>

							<!--This second pill opens the "Edit Hours" tab-->
							<li><a data-toggle="pill" href="#editHours">Edit Hours</a></li>
						</ul>

						<!--The content of the pills-->
						<div class="tab-content">

							<!--"Basic Info" tab-->
							<div id="basicInfo" class="tab-pane fade in active">
								<h3>Basic Info Pill</h3>

								<div class="col-sm-12">


									<!--This is the table of activity rates displayed in the "Basic Info" tab-->
									<table class="table table-bordered" id="fiscalTable">

										<!--The tables headers are buttons which implement a sort function on their column-->
										<thead>
											<tr>
												<th>

													<!--Each button fills it's cell, calls the ".sortTable(n)" 
													function on the column below it, and has a "sort icon" on it's right-->
													<button class="btn btn-info" type="button" ng-click="modalCtrl.sortTable(0)" style="width: 100%"><span class="pull-left">Employee</span><i class="glyphicon glyphicon-sort pull-right"></i></button>
												</th>
												<th>
													<button class="btn btn-info" type="button" ng-click="modalCtrl.sortTable(1)" style="width: 100%"><span class="pull-left">Activity</span><i class="glyphicon glyphicon-sort pull-right"></i></button>
												</th>
												<th>
													<button class="btn btn-info" type="button" ng-click="modalCtrl.sortTable(2)" style="width: 100%"><span class="pull-left">Bill Rate</span><i class="glyphicon glyphicon-sort pull-right"></i></button>
												</th>
												<th>
													<button class="btn btn-info" type="button" ng-click="modalCtrl.sortTable(3)" style="width: 100%"><span class="pull-left">Fees</span><i class="glyphicon glyphicon-sort pull-right"></i></button>
												</th>
												<th>
													<button class="btn btn-info" type="button" ng-click="modalCtrl.sortTable(4)" style="width: 100%"><span class="pull-left">Planned Hours</span><i class="glyphicon glyphicon-sort pull-right"></i></button>
												</th>
												<th>
													<button class="btn btn-info" type="button" ng-click="modalCtrl.sortTable(5)" style="width: 100%"><span class="pull-left">Hourly Cost</span><i class="glyphicon glyphicon-sort pull-right"></i></button>
												</th>
											</tr>
										</thead>

										<tbody>

											<!--The table body is a single, repeated row containing the ".employee", ".activity", ".fees", 
												".hourlyCost", ".rate", and ".plannedHours" attributes for each activity in the 
												".activities" array of the current project object.-->
											<tr ng-repeat="activity in modalCtrl.editRates.activities">

												<!--The first cell containing the employee's name and the "Submit" and "Delete" buttons-->
												<td>

													<!--The Angular ".employee" attribute for each activity in the ".activities" array.
														This span displays the employee's name-->
													<span>{{activity.employee}}</span>
													<div class="btn-group pull-right">

														<!--Each button calls its associated function when clicked-->
														<button class="btn btn-success" type="button" ng-click="modalCtrl.submitBtn(activity)">Submit</button>
														<button class="btn btn-danger" type="button" ng-click="modalCtrl.deleteBtn(activity)">Delete</button>
														
													</div>
												</td>

												<!--This cell contains the activity name (E.g. "Billable", "Non - Billable", etc.)-->
												<td>{{activity.activity}}</td>

												<!--This cell contains the input for editting the "Bill Rate" for 
													an activity in the project object's ".activities" array-->
												<td>
													<div class="input-group">
														<span class="input-group-addon" style="padding: 5px">$</span>

														<!--This input is linked through ng-model to the the "activity.rate" attribute-->
														<input 	type="number" 
																
																class="form-control" 
																placeholder="{{activity.rate}}" 
																name="Rate" 
																min="0.00" step="1"
																onkeypress="return validateNum(event)"
																ng-model="activity.rate">
													</div>

												</td>

												<!--The following cells display the remaining data in the 
													table passed through certain Angular filters-->
												<td>{{activity.fees | currency}}</td>
												<td>{{activity.plannedHours}}</td>
												<td>{{activity.hourlyCost | currency}}</td>

											</tr>
										</tbody>

									</table>
									<div class="row">
										<button class="btn btn-success" type="button", ng-click="modalCtrl.submitBtn">Submit</button>
									</div>
								</div>
							</div>

							<!--Edit Hours tab-->
							<div id="editHours" class="tab-pane fade">
								<h3>Edit Hours Pill</h3>
								<p>More content for the edit pill</p>
							</div>
						</div>
					</div>
				</div>

	</div>
</div>