<div class="panel panel-primary" ng-controller="EmployeePageController as EPCtrl">
	<div class="panel-heading"><strong>Employee: </strong>{{displayName}}</div>
	<div class="panel-body">

		<div class="row" align="center">
			<div class="well well-md" style="width: 98%">
				<div class="row">
					<div class="col-sm-8">
						<select name="Employee" style="width: 100%" ng-model="selectedEmployee" ng-options="employee.name for employee in employees">
							<option value="" hidden selected>Select Employee...</option>
						</select>
					</div>
					<div class="col-sm-4 text">
						<div class="btn-group btn-group-sm btn-group-justified">
							<button type="button" class="btn btn-primary" style="width: 33%" ng-click="EPCtrl.previousBtn()">Previous</button>
							<button type="button" class="btn btn-success" style="width: 34%" ng-click="EPCtrl.changeBtn()">Select</button>
							<button type="button" class="btn btn-primary" style="width: 33%" ng-click="EPCtrl.nextBtn()">Next</button>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row" align="center">
			<div class="well well-md" style="width: 98%">
				<div class="row">
					<div class="col-sm-6" align="left">
						<md-content>
							<md-datepicker ng-model="newCost.begin_date" md-placeholder="Begin Date..."></md-datepicker>
						</md-content>
					</div>
					<div class="col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">Loaded Cost:</span>
							<span class="input-group-addon" style="padding: 5px">$</span>
							<input 	type="number" 
									class="form-control" 
									placeholder="Loaded Cost..." 
									name="LoadedCost"
									min="0.00" step="1"
									onkeypress="return validateNum(event)"
									ng-model="newCost.loaded_cost">

							<span class="input-group-btn">
								<button class="btn btn-success" type="button" ng-click="EPCtrl.addBtn()">Add</button>
							</span>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<table style="width: 100%" ng-show="showTable">
					<tr style="">
						<th>Edit</th>
						<th>Begin Date</th>
						<th>Loaded Cost</th>
					</tr>
					<tr ng-repeat="cost in employeeCosts">
						<td>
							<div class="btn-group">
								<button class="btn btn-danger" ng-click="EPCtrl.deleteBtn(cost)">Delete</button>
							</div>
						</td>
						<td>{{cost.begin_date | date}}</td>
						<td>{{cost.loaded_cost | currency}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>