<div ng-controller="EmployeeTimeManagementController as ETMCtrl">
	<div class="row">
		<div class="col-sm-12">
			<div class="well well-lg">
				<div class="row">
					<select name="payPeriod" style="" ng-model="selectedPeriod" ng-options="payPeriod.display for payPeriod in payPeriodArray" style="max-height: 10px">
						<!--The text shown before any item is selected-->
						<option value="" hidden selected>Select Pay Period...</option>
					</select>

					<select name="employee" style="" ng-model="selectedEmployee" ng-options="employee.name for employee in employees" ng-change="ETMCtrl.postEmployee()">
						<!--The text shown before any item is selected-->
						<option value="" hidden selected>Select Employee...</option>
					</select>

					<div class="btn-group pull right" style="width: 30%">
						<button class="btn btn-primary" style="width: 33%" ng-click="ETMCtrl.previousBtn()">Previous</button>
						<button class="btn btn-success" style="width: 34%" ng-click="ETMCtrl.getPayPeriod()">Go</button>
						<button class="btn btn-primary" style="width: 33%" ng-click="ETMCtrl.nextBtn()">Next</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading clearfix">

					<div class="row">
						<div class="col-sm-3">
							<h5><strong>Employee: </strong>{{payperiod[0].employee}}</h5>
						</div>

						<div class="col-sm-3" style="padding-left: 14px">
							<h5><strong>Hours: </strong>{{total_hours | number}}</h5>
						</div>

						<div class="col-sm-3" style="padding-left: 6px">
							<h5><strong>Pay Period: </strong>{{selectedPeriod.display}}</h5>
						</div>
						<div class="col-sm-3" style="padding-left: 0px">
							<div class="input-group" style="padding: 0px">
								<span class="input-group-addon">Salary:</span>
								<input type="number" class="form-control" name="salary" style="color: black" ng-model="salary" placeholder="Enter Salary...">
							</div>
						</div>

					</div>

				</div>
				<div class="panel-body">
					<table class="table table-hover table-striped" ng-repeat="customer in finalArray">
						<thead>
							<tr>
								<th width="25%" colspan="3">-Customer: {{customer.customer}}</th>
								<th width="25%" style="padding-left: 7px">Hours: {{customer.hours_per_customer | number}}</th>
								<th width="25%" style="padding-left: 7px">Percent Time: {{customer.percent_per_customer | number}}%</th>
								<th width="25%" style="padding-left: 7px">Opportunity Cost: {{(salary/2600) * customer.percent_per_customer | number}}</th>
							</tr>
						</thead>
						<tbody ng-repeat="project in customer.projects">
							<tr>
								<td width="5%"></td>
								<td colspan="2"><strong>-Project: </strong>{{project.project}}</td>
								<td>Hours: {{project.hours_per_project | number}}</td>
								<td>Percent Time: {{project.percent_per_project | number}}%</td>
								<td>Opportunity Cost: {{(salary/2600) * project.percent_per_project | number}}</td>
							</tr>
							<tr ng-repeat="activity in project.activities">
								<td width="10%" colspan="2"></td>
								<td>-{{activity.activity}}</td>
								<td>Hours: {{activity.hours_per_activity | number}}</td>
								<td>Percent Time: {{activity.percent_per_activity | number}}%</td>
								<td>Opportunity Cost: {{(salary/2600) * activity.percent_per_activity | number}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>