<!DOCTYPE html>
<html ng-app="kpi-tool" ng-controller="NavController as navCtrl">
<head>

	<title ng-bind="navCtrl.pageTitle"></title>

	<link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css"> <!--The stylesheet for bootstrap-->

	<link rel="stylesheet" type="text/css" href="/styles/angular-material.min.css">


	<script type="text/javascript" src="/modules/angular.min.js"></script> <!--AngularJs-->

	<script type="text/javascript" src="/modules/angular-animate.js"></script> <!--Libs for Angular Materials-->

	<script type="text/javascript" src="/modules/angular-aria.min.js"></script>

	<script type="text/javascript" src="/modules/angular-messages.min.js"></script>

	<script type="text/javascript" src="/modules/angular-material.min.js"></script>

	<script type="text/javascript" src="/modules/jquery.min.js"></script> <!--JQuery, necessary for many bootstrap functions-->

	<script src="/modules/bootstrap.min.js"></script> <!--Bootstrap, responsible for site interaction-->

	<script src="/js/app.js"></script>

	<!--=======================================		Scripts to be moved to their own files 		================================================================-->

	<!--Number input validation-->
	<script type="text/javascript">
		function validateNum(event) {
			var key = window.event ? event.keyCode : event.which;

			if (event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 38 || event.keyCode == 40 || event.keyCode == 39) {
				return true;
			}
			else if (key < 48 || key > 57) {
				return false;
			}
			else return true;
		}
	</script>
	
<!--===========================================================================================================================================================-->

</head>
<body>

<div class="jumbotron text-center">
	<img src="/img/neos_sig.png">
	<h3>KPI Management</h3>
	<button type="button" class="btn btn-default pull-right" ng-click="navCtrl.logoutBtn()">
    	<span class="glyphicon glyphicon-off" style="padding: 0px; margin: 0px"></span> Logout
    </button>
</div>

<div class="well well-lg text-center"><h4>{{navCtrl.pageTitle}}</h4></div>

<div class="row"> 					<!--This row contains the navigation tab, the change project panel and the project dashboard-->
	<div class="col-sm-1"></div> 	<!--Empty left-hand column-->

<!--================================	The column containing the navigation tab and change project panel 	=====================================================-->

	<div class="col-sm-2">

		<!--================================	First row containing the NAVIGATION TAB		=====================================================================-->

		<div class="row"> 			<!--First row containing the navigation tab-->
			<navigation-tab></navigation-tab>	
		</div> <!--/Close NAVIGATION TAB row-->

		<!--================ 	This second row inside the second (size 2) column containing the CHANGE PROJECT TAB 	=========================================-->

		<div class="row"> 
			<!--The panel containing change project-->
			<change-project-tab ng-show="navCtrl.showActivityRatesPage"></change-project-tab>

		</div> <!--Close second row containing CHANGE PROJECT tab-->
	</div> <!--Close size 2 column-->

	<!--================================== 	Column size 8 containing the project information dashboard 	=====================================================-->

	<div class="col-sm-8" style="padding-right: 0px">

		<activity-rates-panel ng-show="navCtrl.showActivityRatesPage"></activity-rates-panel>

		<employee-page-panel ng-show="navCtrl.showEmployeePage"></employee-page-panel>

		<employee-time-management ng-show="navCtrl.showTimeMgmtPage"></employee-time-management>

		<admin-page ng-show="navCtrl.showAdminPage"></admin-page>
	</div>

<!--=============================================================================================================================================================-->

</div>

<!--New row beneath the dashboard and change project tabs-->
<div class="row">

	<!--Empty column for borders-->
	<div class="col-sm-1"></div>

	<!--Center column containing the accordion menu-->
	<div class="col-sm-10">
		<div class="row">

		<!--The accordion panel containing ... -->
		<activity-rates-accordion ng-show="navCtrl.showActivityRatesPage"></activity-rates-accordion>

		<weekly-hours-accordion ng-show="navCtrl.showActivityRatesPage"></weekly-hours-accordion>
		
		</div>

	</div>
</div>

<div class="footer">
	<div class="row">
		<div class="col-sm-2" style="text-align: right">
			<img src="/img/arrow.gif">
		</div>
		<div class="col-sm-8" style="font-size: .8em; font-style: italic; text-align: center;">
			<p>
			Footer Text,
				Maybe some various copyright stuff. Vgo Software 2007. Maybe
				some disclaimers. Rev does not cure hangovers.</p>
		</div>
		<div class="col-sm-2">
			<img src="/img/text.gif">
		</div>
	</div>
</div>

</body>
</html>