
<div class="col-sm-10">

	<!--First row in left column of the dashboard-->
	<div class="row">
		<div class="col-sm-4" style="text-align: left;"><strong>Fixed</strong>: {{project.fixed}}</div>
		<div class="col-sm-4"><strong>Expected Expenses</strong>: {{project.expected_expenses | currency}}</div>
		<div class="col-sm-4"> <strong>SOW Total</strong>: {{project.sow_total | currency}}</div>
	</div>

	<br>

	<!--Second row in the left column of the dashboard-->
	<div class="row">
		<div class="col-sm-4"><strong>Status</strong>: {{project.status}}</div>
		<div class="col-sm-4"><strong>Start Date</strong>: {{project.start_date | date}}</div>
		<div class="col-sm-4"><strong>End Date</strong>: {{project.end_date | date}}</div>
	</div>

	<br>

	<!--Third row in the left column of the dashboard-->
	<div class="row">
		<div class="col-sm-4"><strong>Billed Expenses</strong>: {{project.billed_expenses | currency}}</div>
		<div class="col-sm-4"><strong>NonBilled Expenses</strong>: {{project.nonBilled_expenses | currency}}</div>
		<div class="col-sm-4"><strong>Total Expenses</strong>: {{project.total_expenses | currency}}</div>
	</div>

	<br>

	<!--Final row in the left column of the dashboard-->
	<div class="row">
		<div class="col-sm-4"><strong>Margin with Expenses</strong>: {{marginWithExpenses | number}}%</div>
	</div>
</div>

<!--=============================================================================================================================================================================-->

<div class="col-sm-2">
	<div class="row">
		<button type="button" class="btn btn-info" ng-click="dash.editBtn()" style="width: 90%; margin: 20px, 20px"><span>Edit</span></button>
	</div>

	<br>

	<div class="row">
		<button type="button" class="btn btn-info" ng-click="dash.addExpenseBtn()" style="width: 90%; margin: 20px, 20px; white-space: normal;"><span>Add Expense</span></button>
	</div>
</div>
