
<div class="col-sm-10">
	<form name="projectForm">

		<div class="row">
			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon input-group-sm">Fixed:</span>
					<select class="selectpicker form-control" name="bin" style="width: 100%" ng-model="edit.fixed">
						<option value="None" hidden>Select Fixed...</option>
						<option value="Yes">Yes</option>
						<option value="No">No</option>
					</select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon">Expected Expenses:</span>

					<input 	type="number" 
					class="form-control" 
					placeholder="{{edit.expected_expenses}}" 
					name="Expenses" 
					min="0.00" step="1" 
					onkeypress='return validateNum(event)'
					ng-model="edit.expected_expenses">
				</input>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<span class="input-group-addon">SOW Total:</span>
				<input 	type="number" 
				class="form-control" 
				placeholder="{{edit.sow_total}}" 
				name="SOW" 
				min="0.00" step="1" 
				onkeypress='return validateNum(event)'
				ng-model="edit.sow_total">
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-sm-4">
			<div class="input-group">
				<span class="input-group-addon">Status:</span>
				<select class="selectpicker form-control" name="status" style="width: 100%" ng-model="edit.status">
					<option value="Active">Active</option>
					<option value="Inactive">Inactive</option>
					<option value="Closed">Closed</option>
				</select>
			</div>
		</div>
		<div class="col-sm-4">
			<md-content>
				<md-datepicker ng-model="edit.start_date" md-placeholder="enter date" md-max-date="edit.end_date"></md-datepicker>
			</md-content>
		</div>

		<div class="col-sm-4">
			<md-content>
				<md-datepicker ng-model="edit.end_date" md-placeholder="enter date" md-min-date="edit.start_date"></md-datepicker>
			</md-content>
		</div> <!--/close col-sm-4-->

	</div>

	<br>

	<div class="row">
		<div class="col-sm-4">



		</div>
	</div>
</form>
</div>

<div class="col-sm-2">
	<div class="row">
		<button type="button" class="btn btn-basic" ng-click="dash.backBtn()" style="width: 90%; height: 80%; margin: 20px, 20px">Back</button>
	</div>

	<br>

	<div class="row">
		<button type="button" class="btn btn-success" ng-click="dash.saveProjectBtn()" style="width: 90%; height: 80%; margin: 20px, 20px">Save</button>
	</div>
</div>
