<table class="table table-striped table-bordered" width="98%" style="border: 1px solid black" align="center">
	<tr>
		<th style="width: 15%">Type</th>
		<th style="border-bottom: 2px solid black">Bill Rate</th>
		<th style="border-bottom: 2px solid black">Fees</th>
		<th style="border-bottom: 2px solid black">Hours</th>
		<th style="border-bottom: 2px solid black">Hourly Cost</th>
		<th style="border-bottom: 2px solid black">Loaded Cost</th>
		<th style="border-bottom: 2px solid black">Margin</th>
	</tr>
	<tr>
		<th style="border-right: 2px solid black">Actual</th>
		<td>{{avgBillRate | currency}}</td>
		<td>{{totalFees | currency}}</td>
		<td>{{totalHours | number}}</td>
		<td>{{avgHourlyCost | currency}}</td>
		<td>{{totalLoadedCost | currency}}</td>
		<td>{{(1-(totalLoadedCost/totalFees)) * 100 | number}}%</td>
	</tr>

<!--

	<tr>
		<th style="border-right: 2px solid black">Planned</th>
		<td>{{0 | currency}}</td>
		<td>{{0 | currency}}</td>
		<td>{{0 | number}}</td>
		<td>{{0 | currency}}</td>
		<td>{{0 | currency}}</td>
		<td>{{0 | number}}%</td>
	</tr>
	<tr>
		<th style="border-right: 2px solid black">Projected</th>
		<td>{{0 | currency}}</td>
		<td>{{0 | currency}}</td>
		<td>{{0 | number}}</td>
		<td>{{0 | currency}}</td>
		<td>{{0 | currency}}</td>
		<td>{{0 | number}}%</td>
	</tr>
	<tr>
		<th style="border-right: 2px solid black">Actual Variance</th>
		<td>{{0 | currency}}</td>
		<td>{{0 | currency}}</td>
		<td>{{0 | number}}</td>
		<td>{{0 | currency}}</td>
		<td>{{0 | currency}}</td>
		<td>{{0 | number}}%</td>
	</tr>
	<tr>
		<th style="border-right: 2px solid black">Projected Variance</th>
		<td>{{0 | currency}}</td>
		<td>{{0 | currency}}</td>
		<td>{{0 | number}}</td>
		<td>{{0 | currency}}</td>
		<td>{{0 | currency}}</td>
		<td>{{0 | number}}%</td>
	</tr>

-->

</table>
