<div class="panel-group" ng-controller="WeeklyHoursController as WHCtrl">
	<div class="panel panel-primary">
		<div class="panel-heading" data-toggle="collapse" data-target="#weeklyHours">
			<h4 class="panel-title">
				<a href="" cursor="pointer">Weekly Hours</a> <!--Clickable header bar to expand menu-->
			</h4>
		</div>

		<div id="weeklyHours" class="panel-collapse collapse">
			<div class="panel-body">

				<div style="overflow-x: auto">
					<table style="width: 100%" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th style="white-space: nowrap;">Week Beginning:</th>
								<td style="white-space: nowrap;" ng-repeat="sunday in sundays">{{sunday | limitTo: 10}}</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="employee in finalArray">
								<th style="white-space: nowrap;">{{employee.employee}}</th>
								<td ng-repeat="hour in employee.hours track by $index">{{hour}}</td>
							</tr>
							<tr>
								<th>Totals: </th>
								<td ng-repeat="total in totals track by $index">{{total}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
