<div class="panel-group" ng-controller="EditRatesPanelController as editRatesCtrl">
	<div class="panel panel-primary">
		<div class="panel-heading"  data-toggle="collapse" data-target="#collapse2">
			<h4 class="panel-title">
				<a href="#collapse2" cursor="pointer">Actual/Projected Hours</a> <!--Clickable header bar to expand menu-->
			</h4>
		</div>

		<!--The accordion menu-->
		<div id="collapse2" class="panel-collapse collapse">
			<div class="panel-body">

				<!--New panel to containing the buttons-->
				<div class="panel panel-primary">
					<div class="panel-heading">Options</div>
					<div class="panel-body">

						<!--The left-hand column in the options panel containing the "Edit" and "Regenerate Projected Hours" buttons-->
						<div class="col-sm-10">

							<!--Edit hours button which open a modal-->
							<button class="btn btn-success" ng-click="editRatesCtrl.editBtn()">Edit</button>

							<!--The edit hours modal-->
							<edit-hours-modal></edit-hours-modal>

							<!--Regenerate Hours button inside of the left-hand column in the options panel-->
							<button class="btn btn-success">Regenerate Projected Hours</button>
						</div>

						<!--The Help Button inside the right-hand column of the options panel-->
						<div class="col-sm-2">
							<button class="btn btn-warning">Help</button>
						</div>
					</div>
				</div>
				<edit-rates-panel></edit-rates-panel>
			</div>
		</div>
	</div>
</div>