<div class="col-sm-12" ng-controller="AddExpenseController as AECtrl">
	<div class="row">
		<div class="col-sm-10">
			<div class="panel panel-primary">
				<div class="panel-heading">Expense Invoice</div>
				<div class="panel-body">

					<div class="col-sm-6">
						<div class="row">
							<div class="input-group">
								<span class="input-group-addon">Expense Amount:</span>
								<span class="input-group-addon" style="padding: 5px">$</span>
								<input 	type="number" 
								class="form-control" 
								placeholder="Add Expense..." 
								name="newExpense" 
								min="0.00" step="0.01"
								onkeypress='return validateNum(event)'
								ng-model="newExpense.expense_amount">
							</div>
						</div>

						<br>

						<div class="row">
							<div class="col-sm-7">
								<md-content>
									<md-datepicker ng-model="newExpense.expense_date" md-placeholder="Expense date..." md-max-date=""></md-datepicker>
								</md-content>
							</div>
							<div class="col-sm-5">
								<div class="input-group">
									<span class="input-group-addon input-group-sm">Billed:</span>
									<select name="billed" style="width: 100%" ng-model="newExpense.billed">
										<option value="" hidden selected>Yes/No?</option>
										<option value="Yes">Yes</option>
										<option value="No">No</option>
									</select>
								</div>
							</div>

						</div>
					</div>

					<div class="col-sm-6">
						<div class="form-group">
							<label for="description">Description:</label>
							<textarea 	class="form-control" id="description" style="width: 100%; height: 100%" 
										placeholder="Enter a description of the expense..." ng-model="newExpense.expense_description">
							</textarea>
						</div>

					</div>

				</div>
			</div>
		</div>

		<div class="col-sm-2">
			<div class="row">
				<button type="button" class="btn btn-success" ng-click="AECtrl.saveBtn()" style="width: 90%; height: 80%; margin: 20px, 20px">Save</button>
			</div>

			<br>

			<div class="row">
				<button type="button" class="btn btn-basic" ng-click="dash.backBtn()" style="width: 90%; height: 80%; margin: 20px, 20px">Back</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel-group">
				<div class="panel panel-primary">
					<div class="panel-heading"  data-toggle="collapse" data-target="#expenseRecords">
						<h4 class="panel-title">
							<a href="" cursor="pointer">Expense Records</a> <!--Clickable header bar to expand menu-->
						</h4>
					</div>

					<!--The accordion menu-->
					<div id="expenseRecords" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="col-sm-12">
							<table class="table table-striped">
								<tr>
									<th>Select</th>
									<th>Billed</th>
									<th>Expense AMT</th>
									<th>Date</th>
									<th>Description</th>
								</tr>
								<tr ng-repeat="expense in expenses">
									<td>
										<div class="btn-group">
											<button class="btn btn-warning" data-toggle="modal" data-target="#editExpenseModal" ng-click="AECtrl.editBtn(expense)">Edit</button>
											<button class="btn btn-danger" ng-click="AECtrl.deleteBtn(expense)">Delete</button>
										</div>
									</td>
									<td>{{expense.billed}}</td>
									<td>{{expense.expense_amount | currency}}</td>
									<td>{{expense.expense_date | date}}</td>
									<td>{{expense.expense_description}}</td>
								</tr>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="editExpenseModal" role="dialog">

		<style>
			.md-datepicker-calendar-pane {
				z-index: 1200;
			}
		</style>

		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Edit Expense</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-12">
									<div class="input-group" style="width: 100%">
										<span class="input-group-addon">Expense Amount:</span>
										<span class="input-group-addon" style="padding: 5px">$</span>
										<input 	type="number" 
										class="form-control" 
										placeholder="Add Expense..." 
										name="newExpense" 
										min="0.00" step="0.01"
										onkeypress='return validateNum(event)'
										ng-model="editExpense.expense_amount">
									</div>
								</div>
							</div>

							<br>

							<div class="row">
								<div class="col-sm-7">
									<md-content>
										<md-datepicker ng-model="editExpense.expense_date" md-placeholder="Expense date..." md-max-date=""></md-datepicker>
									</md-content>
								</div>
								<div class="col-sm-5">
									<div class="input-group">
										<span class="input-group-addon input-group-sm">Billed:</span>
										<select name="billed" style="width: 100%" ng-model="editExpense.billed">
											<option value="" hidden selected>Yes/No?</option>
											<option value="Yes">Yes</option>
											<option value="No">No</option>
										</select>
									</div>
								</div>

							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="description">Description:</label>
								<textarea 	class="form-control" id="description" style="width: 100%; height: 100%" 
											placeholder="Enter a description of the expense..." ng-model="editExpense.expense_description">
								</textarea>
							</div>
						</div>
					</div>

					<br>

					<div class="row">
						<div class="col-sm-12">
							<div class="btn-group">
								<button type="button" class="btn btn-success" ng-click="AECtrl.saveChangesBtn()">Save</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



</div>

