<div class="panel panel-primary">  		
	<div class="panel-heading" style="text-align: left">Change Employee</div>
	<div class="panel-body" style="text-align: left;">

		<!--First row inside the change project tab containing the project status dropdown-->
		<div class="row"> 				
			<select name="Status" style="width: 100%">
				<option value="select" hidden selected>Select Employee...</option>
				<option value="Employee">Alex</option>
				<option value="Employee">Alexis</option>
				<option value="Employee">Alexander</option>
				<option value="Employee">Alexandera</option>
				<option value="Employee">Alexi</option>
				<option value="Employee">Alexous</option>

			</select>
		</div>

		<!--Final row in change project tab containing button group for project selection-->
		<div class="row text-center">
			<div class="btn-group btn-group-sm btn-group-justified">
				<button type="button" class="btn btn-primary" style="width: 33%">Previous</button>
				<button type="button" class="btn btn-success" style="width: 34%">Change</button>
				<button type="button" class="btn btn-primary" style="width: 33%">Next</button>
			</div>
		</div>
	</div>
</div> <!--Close the panel-->