<select name="Employee" style="width: 100%" ng-model="editRatesCtrl.newActivity.employee" ng-options="employee.name for employee in employees">
	<!--The text shown before any item is selected-->
	<option value="" hidden selected>Select Employee...</option>
	<!--Repeat options for each employee in an array of all employees-->
</select>