<!DOCTYPE html>
<html ng-app="kpi-tool" ng-controller="NavController as navCtrl">
<head>

	<title ng-bind="navCtrl.pageTitle"></title>

	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> <!--The stylesheet for bootstrap-->

	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.8.20/themes/redmond/jquery-ui.css"> <!--The stylesheet necessary for the dropdown calendars-->

	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script> <!--Angular-->

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script> <!--Libs for Angular Materials-->

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!--JQuery, necessary for many bootstrap functions-->

	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!--JQeury-UI necessary for datepicker function (dropdown calendars)-->

	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!--Bootstrap, responsible for site interaction-->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script> <!--Don' think we need moment for anything-->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script> <!--Angular-resource, necessary for ng-route and $RouteProvider-->

	<!--=======================================		Scripts to be moved to their own files 		================================================================-->

	<!--Number input validation-->
	<script type="text/javascript">
		function validateNum(event) {
			var key = window.event ? event.keyCode : event.which;

			if (event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 38 || event.keyCode == 40 || event.keyCode == 39) {
				return true;
			}
			else if (key < 48 || key > 57) {
				return false;
			}
			else return true;
		}
	</script>
	
<!--===========================================================================================================================================================-->

	<script src="app.js"></script>
</head>
<body>

<div class="jumbotron text-center">
	<img src="neos_sig.png">
	<h3>KPI Management</h3>
</div>

<div class="well well-lg text-center"><h4>{{navCtrl.pageTitle}}</h4></div>

<div class="row"> 					<!--This row contains the navigation tab, the change project panel and the project dashboard-->
	<div class="col-sm-1"></div> 	<!--Empty left-hand column-->

<!--================================	The column containing the navigation tab and change project panel 	=====================================================-->

	<div class="col-sm-2">

		<!--================================	First row containing the NAVIGATION TAB		=====================================================================-->

		<div class="row"> 			<!--First row containing the navigation tab-->
			<navigation-tab></navigation-tab>	
		</div> <!--/Close NAVIGATION TAB row-->

		<!--================ 	This second row inside the second (size 2) column containing the CHANGE PROJECT TAB 	=========================================-->

		<div class="row"> 
			<!--The panel containing change project-->
			<change-project-tab ng-show="navCtrl.showActivityRatesPage"></change-project-tab>

		</div> <!--Close second row containing CHANGE PROJECT tab-->
	</div> <!--Close size 2 column-->

	<!--================================== 	Column size 8 containing the project information dashboard 	=====================================================-->

	<div class="col-sm-8" style="padding-right: 0px">

		<activity-rates-panel ng-show="navCtrl.showActivityRatesPage"></activity-rates-panel>

		<employee-page-panel ng-show="navCtrl.showEmployeePage"></employee-page-panel>
	</div>

<!--=============================================================================================================================================================-->

</div>

<!--New row beneath the dashboard and change project tabs-->
<div class="row">

	<!--Empty column for borders-->
	<div class="col-sm-1"></div>

	<!--Center column containing the accordion menu-->
	<div class="col-sm-10">
		<div class="row">

		<!--The accordion panel containing ... -->
		<activity-rates-accordion ng-show="navCtrl.showActivityRatesPage"></activity-rates-accordion>
		
		</div>

	</div>
</div>

	<div class="row">
		<div class="col-sm-2" style="text-align: right">
			<img src="/arrow.gif">
		</div>
		<div class="col-sm-8" style="font-size: .8em; font-style: italic; text-align: center;">
			<p>
			Footer Text,
				Maybe some various copyright stuff. Vgo Software 2007. Maybe
				some disclaimers. Rev does not cure hangovers.</p>
		</div>
		<div class="col-sm-2">
			<img src="/text.gif">
		</div>
	</div>

</body>
</html>