<div class="panel panel-primary"> <!--Navigation tab panel-->
	<div class="panel-heading" style="text-align: left">Navigation Tab</div>
	<div class="panel-body" style="text-align: left;">
		<ul class="nav nav-pills nav-stacked" style="width: 100%">

			<li class="active"><a data-toggle="pill" href="" ng-click="navCtrl.activityRatesBtn()">Activity Rates</a></li> <!--Stacked pills for navigation-->
			<li><a data-toggle="pill" href="" ng-click="navCtrl.employeePageBtn()">Employee Page</a></li>
			<li><a data-toggle="" href="https://www.google.com">KPI Viewer</a></li>
		</ul>
	</div>
</div>	